# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment
.env
.venv/
venv/

# Data
data/*.csv
data/*.pkl

# Output
output/*.png
output/*.pdf

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
